.content{
    background-color: rgb(41, 135, 243);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    padding-block: 1.5em;

    div{
        display: flex;
        flex-direction: column;
        gap: 0.4em;
        max-width: 50ch;

        h3{
            margin-block: 0.6em;
            color: #fff;
            font-size: 1.4em;
        }

        span{
            font-size: 1.5em;
            color: darkgrey;

            &:first-of-type{
                margin-top: 1em;
            }
        }

        & >*:not(:first-child):not(span){
            color: #fff;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}